.App {
  text-align: center;
  transition: all 0.5s ease-out;
}

.App li {
  list-style-type: none;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
 
.blue {
	color:blue;
	cursor: pointer;
} 
.red {
	color:red;
	cursor: pointer;
}
.green {
	color:green;
	cursor: pointer;
}
.black {
	color: #444;
	cursor: pointer;
}
.yellow {
	color: yellow;
	cursor: pointer;
}
.pink {
  background: pink;
}
.lime {
  background: lime;
}
.maroon {
  background: maroon;
}
.purple {
  background: purple;
}
.itemList {
	cursor: pointer;
}
.capitalize {
  text-transform: capitalize;
  transform: rotate(90deg);
}

.decorate {
  text-decoration: underline;
  background: red;
  font-size: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
